# Copy to .env on the VPS and replace every CHANGE_ME value.

PROJECT_NAME=1upmoodleserve

MOODLE_DOMAIN=moodle.unrealuni.xyz
MOODLE_WWWROOT=http://moodle.unrealuni.xyz
KEYCLOAK_DOMAIN=iam.unrealuni.xyz
LETSENCRYPT_EMAIL=admin@unrealuni.xyz
LETSENCRYPT_CERT_NAME=1upmoodleserve
NGINX_CONF_DIR=./docker/nginx/http.d

MOODLE_BRANCH=MOODLE_502_STABLE
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=CHANGE_ME_STRONG_MOODLE_ADMIN_PASSWORD
MOODLE_ADMIN_EMAIL=admin@unrealuni.xyz
MOODLE_FULLNAME=Unreal University Moodle
MOODLE_SHORTNAME=UnrealUni

POSTGRES_IMAGE=postgres:18
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=CHANGE_ME_STRONG_POSTGRES_SUPERUSER_PASSWORD
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=CHANGE_ME_STRONG_MOODLE_DB_PASSWORD
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=CHANGE_ME_STRONG_KEYCLOAK_DB_PASSWORD

KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.7.2
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_STRONG_KEYCLOAK_ADMIN_PASSWORD
KEYCLOAK_REALM=unrealuni
KEYCLOAK_MOODLE_CLIENT_ID=moodle
KEYCLOAK_MOODLE_CLIENT_SECRET=CHANGE_ME_STRONG_KEYCLOAK_MOODLE_CLIENT_SECRET
KEYCLOAK_SEED_USER_PASSWORD=CHANGE_ME_TEMPORARY_SEED_USER_PASSWORD
KEYCLOAK_SEED_EMAIL_DOMAIN=unrealuni.xyz
